.body {
    background-color: #D4EF9B;
    padding: 20px;
    margin: 0;
}
h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #111;
    padding: 0;
}

.headerLink {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.error{
    text-align: center;
    color: red;
}

.success{
    text-align: center;
    color: blue;
}